html,
body {
  height: 100%;
}
body {
  background-color: #f5f5f5;
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 70vh;
}

button,
input,
textarea {
  width: 100%;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: $black;
  font-weight: 600;
  &::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }
}

input:not([type="text"]),
button {
  cursor: pointer;
}

input[type="textarea"] {
  cursor: auto;
}

.form-container__link {
  display: inline-block;
  background-color: $dark-red;
  width: 100%;
  /*ISSUE: 사파리에서 color속성이 override가 안되어서 추가해주었는데 왜 되는지는 모르겠다
  ref: https://stackoverflow.com/questions/21400182/safari-css-font-color-issue
  */
  // -webkit-text-fill-color: white;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 14px;
  font-weight: 600;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
