.user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-profile__header {
    margin: 20px 0;

    h4 {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      margin-top: 15px;
    }
  }

  .user-profile__buttons {
    margin-bottom: 30px;
  }

  .home-videos {
    margin: 0 30px;
  }
}
