.videoDetail_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .video__player {
    width: 100%;
    max-width: 850px;
    margin-bottom: 20px;
    video {
      width: 100%;
    }
  }

  .video__info {
    width: 100%;
    max-width: 850px;
    display: flex;
    flex-direction: column;

    .video__info-header {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
      width: 100%;

      .video__title {
        flex-grow: 0;
        font-size: 30px;
        color: $black;
        font-weight: 800;
        text-transform: uppercase;
        margin-right: 20px;
      }
      .video__author {
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 15px;
        color: $black;
        font-weight: 400;
        margin-right: 10px;
        text-decoration: underline;
      }
      .video__views {
        flex-grow: 1;
        flex-shrink: 0;
        font-size: 15px;
        color: $black;
        font-weight: 400;
        margin-right: 20px;
        span {
          margin-right: 5px;
        }
      }
      .video__info-edit {
        flex-grow: 0;
        flex-shrink: 0;
        background-color: $blue;
        color: white;
        padding: 10px 15px;
        font-size: 15px;
        font-weight: 600px;
        text-transform: uppercase;
        border-radius: 5px;
      }
    }

    .video__description {
      width: 100%;
      color: $black;
      font-size: 18px;
      font-weight: 500;
      word-break: break-all;
    }
  }
}
